.for-confirmation {
  padding: 64px 0 32px;

  // .for-confirmation__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .for-confirmation__logo

  &__logo {
    margin-bottom: 32px;
  }

  // .for-confirmation__logo-img

  &__logo-img {
    max-width: 100px;
    width: 100%;
  }

  // .for-confirmation__check

  &__check {
    margin-bottom: 20px;
    color: var(--main-color);

    svg {
      width: 92px;
      height: 92px;
      background-color: transparent;
    }

    svg path {
      stroke: #64be56;
    }

    svg circle {
      stroke: #64be56;
    }

    svg g {
      fill: transparent;
      stroke-width: 3;
    }

  }

  // .for-confirmation__title

  &__title {
    margin-bottom: 15px;
  }

  // .for-confirmation__descr

  &__descr {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 150%;
    color: var(--grey-color);
  }

  // .for-confirmation__link

  &__link {
    font-size: 13px;
    color: var(--main-color);
  }
}