// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

// Body Locked
body {
  font-family: var(--main-font);
  background-color: var(--background-color-1);
  font-weight: 400;
  color: var(--text-color);

  &.locked {
    overflow: hidden;
  }
}

html,
body {

  ::-webkit-scrollbar {
    background-color: initial;
    border-radius: 10px;
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-corner {
    background-color: initial;
  }

  ::-webkit-scrollbar-thumb {
    background-color: initial;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
}


// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}