.password-page {
  padding: 64px 0 32px;

  // .password-page__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .password-page__link

  &__link {}

  // .password-page__link-img

  &__link-img {
    max-width: 100px;
    width: 100%;
  }

  // .password-page__title

  &__title {
    margin-bottom: 15px;
  }

  // .password-page__descr

  &__descr {
    max-width: 470px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 150%;
    color: var(--svg-color);
  }

  // .password-page__form

  &__form {
    max-width: 400px;
    width: 100%;
  }

  // .password-page__input

  &__input {
    display: inline-block;
    margin-bottom: 32px;
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    background: rgba(0, 0, 0, .2);
    border-radius: 8px;
    border: 2px solid #262831;
    color: var(--svg-color);
    transition: border .25s ease;
    outline: 0;

    &:invalid {
      border-color: var(--error-color);
    }

    &:invalid~.password-page__input-error {
      display: block;
    }

    &:hover {
      border-color: var(--main-color);
    }

    &:active {
      border-color: var(--main-color);
    }

    &:focus {
      border-color: var(--main-color);
    }

  }

  // .password-page__input-error

  &__input-error {
    display: none;
    margin: 4px 0 20px;
    margin-top: -20px;
    text-align: left;
    font-size: 11px;
    line-height: 150%;
    color: var(--error-color);
  }

  // .password-page__btn

  &__btn {
    height: 50px;

    &+& {
      margin-top: 20px;
    }

    svg {
      width: 38px;
    }
  }
}